config.py
__pycache__/
test/
my-data.json
mysql_user.txt
mysql_pass.txt
model.tflearn.data-00000-of-00001
model.tflearn.index
project_out.txt
department_out.txt
x_project_out.txt
x_department_out.txt
training_data
tflearn_logs/
model.tflearn.meta
checkpoint
restore_intents.json
refresh_intent.sh
